[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
streamlit = "*"
boto3 = "*"
openpyxl = "*"
plotly = "*"
seaborn = "*"

[scripts]

[requires]
python = "3.11.3"
